import * as S from './styles'
import * as C from 'ui/components'

export default function {{pascalCase name}}() {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  )
}

{{pascalCase name}}.Template = C.ExampleTemplate
